 body{
    background-color:rgb(84, 115, 141);
    margin: 0;
 }
 .wrapper{
   background-color:rgb(114, 168, 214);
   width:90%;
   margin:0 auto;
   display:grid;
   Grid-template-rows: 80px 50px auto 50px;
   grid-template-areas:
   "header"
   "nav"
   "main"
   "footer"
 }

 header{
background-color: rgb(54, 103, 146);
grid-area: header;
 }
 
 nav{
   background-color: rgb(77, 146, 146);
   grid-area: nav;
 }
 
 nav > ul{
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   height: 100%;
   margin: 0;
   padding: 0;

 }
 
 nav li{
   list-style-type: none;
   text-align: center;
   display:grid;
   align-self:stretch;
   align-items: stretch;
 }
 
 main{
   background-color: rgb(28, 130, 219);
   grid-area: main;
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: auto;
 }

 p{
    color:black;
 }

 h1{
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .altpmig{border: 2px color black;
   border-style: dashed; 

 }
 
 .altp{
    text-align: center;
    background-color:rgb(126, 45, 82);
    color:white;
    margin:0
 }
 
 .altp2{text-align: right;}
 h2{ 
   text-align: center;
   color:white;
   background-color:rgb(126, 45, 82);
   margin:0

 }

 a{text-decoration-line: none;
   color:black
}
img{width: 30%;
   image-orientation: center;
}

footer{text-align:center;
   background-color:rgb(126, 45, 82);
   margin:0

}

 